:root {
    --primary: #AF1E2D;
    --light: #F3F3F3;
    --grey: #8A8A8B;
    --dark: #212121;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
  }


  /* home page */
  
  body {
    background-color: var(--light);
  }
  .sub-heading {
    text-align: center;
    padding-top: 40px;
    color: var(--dark);
    font-size: 40px;
  
  }

  .btn{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--light);
    background: var(--primary);
    border: none;
    border-radius: 5px;
    padding: 0.7rem 1.5rem;
    cursor: pointer;
    transition: all 0.4s ease;
}
.btn:hover{
    opacity: 0.8;
}
  header {
    padding-right: 15px;
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: var(--light);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav .logo {
    width: 75px;
    border-radius: 50%;
    max-width: 100%;
    margin-left: 20px;
  }
  nav .menu {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  nav .menu .menu-item a {
    display: block;
    padding: 5px 15px;
    margin-left: 5px;
    margin-right: 5px;
    color: var(--dark);
    font-weight: 600;
    text-decoration: none;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    transition: 0.2s;
  }
  nav .menu .menu-item:hover a {
    color: var(--primary);
    border-color: var(--primary);
  }
  nav .menu .menu-item.is-active a {
    color: var(--light);
    background-color: var(--primary);
  }
  .nav-link {
    display: block;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0.6rem;
    padding: 0.7rem;
    text-decoration: none;
    color: blue;
    transition: 0.3s ease-in-out;
  }
  .hamburger {
    display: none;
    cursor: pointer;
  }
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;
    border-radius: 20px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.5s ease-in-out;
    background-color: var(--dark);
  }
  main {
    min-height: 100vh;
  }
  main .banner {
    position: relative;
    background-image: url('images/background photo.png');
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
  }
  main .banner:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  main .banner .banner-inner {
    position: relative;
    z-index: 1;
  }
  main .banner h1 {
    color: yellow;
    font-size: 72px;
    text-align: center;
  }
  main .banner h2 {
    color: var(--light);
    font-size: 42px;
    text-align: center;
  }
  main .banner h4{
    color: var(--light);
    font-style: italic;
    text-align: center;
    padding-top: 75px;
  }

  /* about page */
  .about .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0rem;
  }
  
  .about .row .image {
    flex: 1 1 45rem;
    padding: 5rem;
  }
  
  .about .row .image img {
    width: 100%;
    height: 50vh;
    border-radius: 0.5rem;
    border: 1rem solid #333;
  }
  
  .about .row .content {
    flex: 1 1 45rem;
  }
  
  .about .row .content h3 {
    font-size: 20px;
    color: var(--dark);
  }
  
  .about .row .content p {
    font-size: 1.5rem;
    color: var(--grey);
    padding: 1rem 0;
    line-height: 2;
  }
  
  

 
  
  /* service page */

  .service .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1.5rem;
    margin-top: 50px;
    padding: 1px 4%;
  }
  
  .service .box-container .box {
    border-radius: 0.5rem;
    background: var(--grey);
    text-align: center;
    padding: 2.5rem;
  }
  
  .service .box-container .box i {
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    border-radius: 50%;
    font-size: 2.5rem;
    background: var(--theme-color);
    color: var(--primary);
  }
  
  .service .box-container .box h3 {
    font-size: 2rem;
    color: var(--light);
    padding: 1rem 0;
  }
  
  .service .box-container .box li {
    font-size: 1.4rem;
    color: var(--light);
    line-height: 1.8;
    list-style: none;
  }

  

  /* gallery section */

  .gallery .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 1.5rem;
  }
  
  .gallery .box-container .box {
    position: relative;
    border: 1rem solid #333;
    border-radius: 0.5rem;
    height: 25rem;
    cursor: pointer;
    overflow: hidden;
  }
  
  .gallery .box-container .box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .gallery .box-container .box:hover img {
    transform: scale(1.1);
    filter: grayscale();
  }
  
  .gallery .box-container .box .title {
    position: absolute;
    top: -10rem;
    left: 0;
    right: 0;
    background: #333;
    color: #fff;
    text-align: center;
    padding-bottom: 1rem;
    font-size: 2rem;
  }
  
  .gallery .box-container .box:hover .title {
    top: 0;
  }
  
  .gallery .box-container .box .icons {
    position: absolute;
    bottom: -10rem;
    left: 0;
    right: 0;
    background: #333;
    padding-top: 1rem;
    text-align: center;
  }
  
  .gallery .box-container .box:hover .icons {
    bottom: 0;
  }
  
  .gallery .box-container .box .icons a {
    font-size: 2rem;
    margin: 0.5rem 1rem;
    color: #fff;
  }
  
  .gallery .box-container .box .icons a:hover {
    color: var(--theme-color);
  }

  /* price */
  .price .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 4fr));
    gap: 1.5rem;
  }
  
  .price .box-container .box {
    position: relative;
    border-radius: 0.5rem;
    height: 40rem;
    cursor: pointer;
    overflow: hidden;
  }
  
  .price .box-container .box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .price .box-container .box:hover img {
    transform: scale(1.1);
    filter: grayscale();
  }
  
  button{
    margin: 30px;
    justify-items: center;
  }
  swiper-container {
    width: 100%;
    height: 100%;
  }

  swiper-slide {
    height: 40rem;
    width: 35rem;
    background: var(--grey);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
   
  }
 
  /* review section */

  .review .slide{
    padding:2rem;
    box-shadow:var(--box-shadow);
    border:.1rem solid rgba(0,0,0,.2);
    border-radius: .5rem;
    position: relative;    
    margin-bottom: 4rem;
}

.review .slide .fa-quote-right{
    position: absolute;
    top:2rem; right:2rem;
    font-size: 6rem;
    color:#ccc;
}

.review .slide .user{
    display: flex;
    gap:1.5rem;
    align-items: center;
    padding-bottom: 1.5rem;
}

.review .slide .user img{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.review .slide .user h3{
    color:var(--black);
    font-size: 2rem;
    padding-bottom: .5rem;
}

.review .slide .user i{
    font-size: 1.3rem;
    color:var(--green);
}

.review .slide p{
    font-size: 1.5rem;
    line-height: 1.8;
    color:var(--light-color);
}

  


  /* contact page */

 
.contact-body{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1rem;
}
.contact-info{
    margin: 2rem 0;
  
    text-align: center;
    padding: 2rem 0;
}
.contact-info span{
    display: block;
}
.contact-info div{
    margin: 0,8rem 0;
    padding: 1rem;
    
}
.contact-info span .fas{
    font-size: 2rem;
    padding-bottom: 0.9rem;
    color: #f7327a;
}
.contact-info div span:nth-child(2){
    font-weight: 500;
    font-size: 1.1rem;
}
.contact-info .text{
    padding-top: 0.4rem;
}
.contact-form{
    padding: 2rem 0;
    align-items: center;
}
.contact-form form{
    padding-bottom: 1rem;
}
.form-control{
    width: 100%;
    border: 1.5px solid #c7c7c7;
    border-radius: 5px;
    padding: 0.7rem;
    margin: 0.6rem 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    outline: 0;
}
.form-control:focus{
    box-shadow: 0 0 6px -3px rgba(48, 48, 48, 1);
}
.contact-form form div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.6rem;
}

.contact-form > div{
    margin: 0 auto;
    text-align: center;
}
.contact-footer{
    padding: 2rem 0;
    background: unset;
    margin-top: 5px;
}
.contact-footer h3{
    font-size: 1.3rem;
    color: black;
    margin-bottom: 1rem;
    text-align: center;
}

/* social link section */
.social-links{
    display: flex;
    justify-content: center;
}
.social-links a{
    text-decoration: none;
    width: 40px;
    height: 40px;
    color: black;
    border: 2px solid var(--primary);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.4rem;
    transition: all 0.4s ease;
}
.social-links a:hover{
    color: var(--primary);
    border-color: var(--primary);
}

/* media query */

@media (max-width: 712px) {
   
  .hamburger {
    display: block;
    margin-right: 2px;
  }

  #jstoggle {
    display: none;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  #nav-list {
    position: fixed;
    left: -100%;
    top: 65px;
    gap: 0;
    flex-direction: column;
    background-color: var(--light);
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    margin: 0;
    border-top: solid 1px blue;
  }
  .nav-item a {
    color: blue;
  }

  .nav-item a:hover {
    color: blue;
  }
  #nav-list.active {
    left: 0;
  }
  main .banner h1 {
    color: yellow;
    font-size: 36px;
    text-align: center;
  }
  main .banner h2 {
    color: var(--light);
    font-size: 21px;
    text-align: center;
  }
  main .banner h4{
    color: var(--light);
    font-style: italic;
    text-align: center;
    
  }
  swiper-container {
    width: 100%;
    height: 50%;
  }
  swiper-slide {
    height: 50rem;
    width: 35rem;
   
  }

  swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 1.5rem 2rem;
  }

  section {
    padding: 2rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .home .home-slider .swiper-slide {
    width: 27rem;
  }
}

@media screen and (min-width: 768px){
  .service-bg .text{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
} 
  
  .contact-bg .text{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .contact-info{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
   
}

@media screen and (min-width: 992px){

    .service-bg .text{
      width: 50%;
    }
    .contact-bg .text{
        width: 50%;
    }
    .contact-form{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
}

@media screen and (min-width: 1200px){
    .contact-info{
        grid-template-columns: repeat(4, 1fr);
    }
}


footer p{
  text-align: center;
  margin-top: 5px;
}


.hidden{
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 2s;
}

@media(prefers-reduce-motion){
  .hidden{
      transition: none;
  }
}
.show{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
.logo{
  display: flex;
  gap: 10px;
}
.logo:nth-child(2) {
 transition-delay: 200ms; 
}
.logo:nth-child(3) {
  transition-delay: 400ms; 
}
.logo:nth-child(4) {
  transition-delay: 600ms; 
}